<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <h1>Welcome <%= userData.username %></h1>
        <p>Your email: <%= userData.email %></p>
        <p>Your role: <%= userData.role %></p>
        <p>Your token: <%= userData.token %></p>
    </body>
</html>
