<!DOCTYPE html>
<html>
    <head>
        <title>Quick CSS List Hover Effects</title>
        <link rel="stylesheet" type="text/css" href="/dashboard.css" />
        <link
            rel="stylesheet"
            type="text/css"
            href="/dashboard_no_projects.css" />
    </head>
    <body>
        <div class="no-project header center">
            <img style="height: 250px" src="/images/favicon.png" />
            <h1>Hello <%= userData.username %>,</h1>
            <a
                href="/client/users/createProject/<%= userData._id %>"
                class="btn">
                Create New Project<span></span
            ></a>
        </div>
        <div class="list">
            <h2>List Item Hover Effects</h2>
            <ul>
                <h4 style="margin-bottom: 12px">Projects</h4>
                <% projectsList.forEach(function(project) { %>
                <li>
                    <span
                        ><a
                            class="project-link"
                            href="/client/users/project/<%= project.id %>"
                            ><%= project.projectName %></a
                        ></span
                    >
                </li>
                <% }); %>
            </ul>
        </div>
        <script>
            window.addEventListener("pageshow", function (event) {
                var historyTraversal =
                    event.persisted ||
                    (typeof window.performance != "undefined" &&
                        window.performance.navigation.type === 2);
                if (historyTraversal) {
                    // Handle page restore.
                    window.location.reload();
                }
            });
        </script>
    </body>
</html>
